interactions:
- request:
    body: '{"ids": ["DOI:10.1002/hbm.24703"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.semanticscholar.org/graph/v1/paper/batch?fields=title%2Cauthors%2Cabstract%2Cyear%2Cvenue%2CpublicationDate%2CisOpenAccess
  response:
    body:
      string: '[{"paperId": "185cdce001c430556cfc3721f86a91849d20856d", "title": "Modulating
        functional connectivity between medial frontopolar cortex and amygdala by
        inhibitory and excitatory transcranial magnetic stimulation", "venue": "Human
        Brain Mapping", "year": 2019, "isOpenAccess": true, "openAccessPdf": {"url":
        "https://onlinelibrary.wiley.com/doi/pdfdirect/10.1002/hbm.24703", "status":
        "BRONZE", "license": null, "disclaimer": "Notice: Paper or abstract available
        at https://api.unpaywall.org/v2/10.1002/hbm.24703?email=<INSERT_YOUR_EMAIL>
        or https://doi.org/10.1002/hbm.24703, which is subject to the license by the
        author or copyright owner provided with this content. Please go to the source
        to verify the license and copyright information for your use."}, "publicationDate":
        "2019-10-15", "authors": [{"authorId": "144167506", "name": "P. Riedel"},
        {"authorId": "14872187", "name": "Matthias Heil"}, {"authorId": "1762318",
        "name": "S. Bender"}, {"authorId": "3123685", "name": "Gabriel Dippel"}, {"authorId":
        "3336825", "name": "Franziska M. Korb"}, {"authorId": "2272108", "name": "M.
        Smolka"}, {"authorId": "8426521", "name": "M. Marxen"}], "abstract": "The
        prefrontal\u2010limbic network in the human brain plays a major role in social
        cognition, especially cognitive control of emotion. The medial frontopolar
        cortex (mFP; Brodmann Area 10) and the amygdala are part of this network and
        display correlated neuronal activity in time, as measured by functional magnetic
        resonance imaging (fMRI). This functional connectivity is dynamic, sensitive
        to training, and affected in mental disorders. However, t[...]
